# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/contract/deploy/node_modules

# production
/dist

# misc
.DS_Store
npm-debug.log*

#*
.#*
*#
*~
.project
.settings

# travis
profile.tmp
profile.cov

# IdeaIDE
.idea

# VS Code
.vscode
